@import "mixins.less";
@import "expense-list";
@import "new-expense";

html {
  min-height: 30em;
  font-size: 14px;
  background-color: #EEFFF5;
  height: 100%;
  width: 100%;
  padding: 0.75em 0.5em;

  .box-sizing(border-box);
}

body {
  font-family: "Andes Rounded", sans-serif;
  color: #289E7F;
  letter-spacing: 0.05em;
  height: 100%;

  .box-sizing(border-box);
}

.header {
  position: fixed;
  top: 0;
  background-color: #EEFFF5;
  width: 98%;
  padding: 0.7em 0;
  display: table;
  z-index: 2;   // in case the content is positioned as well

  .topbar {
    display: table;
    margin: 0 0 0.5em;

    h1 {
      color: #98D8C5;
      font-size: 1.3em;
      font-weight: 400;
      white-space: nowrap;
    }

    .item {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.action {
  left: 0;
  display: block;
  position: fixed;
  bottom: 0;
  height: 16em;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(238,255,245,0) 0%, rgba(238,255,245,0.02) 1%, rgba(238,255,245,1) 65%, rgba(238,255,245,1) 98%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,255,245,0)), color-stop(1%,rgba(238,255,245,0.02)), color-stop(65%,rgba(238,255,245,1)), color-stop(98%,rgba(238,255,245,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,255,245,0) 0%,rgba(238,255,245,0.02) 1%,rgba(238,255,245,1) 65%,rgba(238,255,245,1) 98%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,255,245,0) 0%,rgba(238,255,245,0.02) 1%,rgba(238,255,245,1) 65%,rgba(238,255,245,1) 98%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,255,245,0) 0%,rgba(238,255,245,0.02) 1%,rgba(238,255,245,1) 65%,rgba(238,255,245,1) 98%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,255,245,0) 0%,rgba(238,255,245,0.02) 1%,rgba(238,255,245,1) 65%,rgba(238,255,245,1) 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eefff5', endColorstr='#eefff5',GradientType=0 ); /* IE6-9 */

  .button {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    background-color: #52C7E2;
    position: relative;
    margin: 0 auto;
    top: 50%;
    box-shadow: 0 0.2em 0.4em #AABCB1;

    .transition(300ms all ease);

    &:hover {
      cursor: pointer;
      background-color: #4ED4EA;
    }

    &:active {
      background-color: #51E0EF;
      box-shadow: 0 0.2em 0.3em #AABCB1;
      bottom: -50.5%;
    }

    div {
      color: #FFF;
      font-family: Lato, sans-serif;
      font-weight: 500;
      letter-spacing: 0.08em;
      text-align: center;
      position: relative;
      top: 30%;

      &:first-child {
        font-size: 1.2em;
        font-weight: 600;
      }

      &:last-child {
        margin-top: 0.5em;
      }
    }

    &.disabled {
      background-color: #777;
      color: #333;
    }
  }
}

input {
  border-style: none;
  border-bottom: 0.15em solid #289E7F;
  background: none;
  font-family: "Andes Rounded", sans-serif;
  color: #289E7F;
  padding-left: 0.2em;

  .box-sizing(border-box);

  &::-webkit-input-placeholder {
    color: #98D8C5;
  }

  &::-moz-placeholder {
    color: #98D8C5;
  }

  &:focus {
    outline: 0;
  }

  // typeahead hint
  &.tt-hint {
    color: #A8BDB7;
  }
}

.hidden {
  display:none;
}